<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodiversity</title>
    <link rel="icon" href="../assets/uploads/icon.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/hero.css">
    <link rel="stylesheet" href="../assets/css/about.css">
    <link rel="stylesheet" href="../assets/css/font.css">
</head>

<body class="body bg-hero">
    <header class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#explore">Explore</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <h1 class="logo">Sino</h1>
        </div>
    </header>

    <main class="main-content">
        <section class="about">
            <div class="about-image"></div>

            <div class="about-content">
                <h2>About</h2>
                <hr class="about-hr">
                <p class="left-align">
                    Although often considered a nuisance, insects have an important role in maintaining
                    the balance of the ecosystem and supporting human life.
                </p>
                <p class="right-align">
                    They keep the environment in balance by controlling pests, helping pollinate plants,
                    recycling nutrients, providing food for many animals, and serving as indicators of
                    environmental health.
                </p>
            </div>
        </section>
    </main>
</body>

</html>