<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodiversity</title>
    <link rel="icon" href="../assets/uploads/icon.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/hero.css">
    <link rel="stylesheet" href="../assets/css/about.css">
    <link rel="stylesheet" href="../assets/css/font.css">
</head>

<body class="body bg-hero">
    <header class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#">Explore</a></li>
            </ul>
            <h1 class="logo">Sino</h1>
        </div>
    </header>

    <main class="main-content">
        <!-- Hero -->
        <section class="hero">
            <div class="slide">
                <h1 class="hero-title">LADYBUG</h1>
                <p class="hero-subtitle">
                    Ladybugs hibernate during winter, often found in groups in sheltered places, such as under rocks or
                    in tree crevices.
                </p>
                <a href="#explore" class="hero-button">Explore</a>
            </div>
            <div class="slide">
                <h1 class="hero-title">SPIDER</h1>
                <p class="hero-subtitle">
                    Spiders have a high sensitivity in their legs that allows them to detect subtle vibrations around
                    them, signaling prey or threats.
                </p>
                <a href="#explore" class="hero-button">Explore</a>
            </div>
            <div class="slide">
                <h1 class="hero-title">DRAGONFLY</h1>
                <p class="hero-subtitle">
                    Dragonflies can fly forward, backward, and hover, at speeds of up to 56 km/h, and have large eyes
                    with almost 360 degrees of vision.
                </p>
                <a href="#explore" class="hero-button">Explore</a>
            </div>
            <div class="slide">
                <h1 class="hero-title">TARANTULA</h1>
                <p class="hero-subtitle">
                    When attacking, tarantulas often rely on their strength first. Venom is only used when necessary to
                    immobilize prey.
                </p>
                <a href="#explore" class="hero-button">Explore</a>
            </div>
        </section>
        <!-- Hero End -->


        <!-- About -->
        <section>

        </section>
        <!-- About End -->


        <!-- Explore -->
        <section>

        </section>
        <!-- Explore End -->
    </main>

    <script src="../assets/js/text-hero.js"></script>
</body>

</html>