<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodiversity</title>
    <link rel="icon" href="../assets/uploads/icon.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/hero.css">
    <link rel="stylesheet" href="../assets/css/about.css">
    <link rel="stylesheet" href="../assets/css/font.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <link rel="stylesheet" href="../assets/css/explore.css">
</head>

<body class="body bg-hero">
    <header class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="explore.html">Explore</a></li>
            </ul>
            <h1 class="logo">Sino</h1>
        </div>
    </header>

    <main class="main-content">
        <!-- Hero -->
        <section class="hero" id="home">
            <div class="slide" data-background="../assets/uploads/bg-ladybug.webp">
                <h1 class="hero-title">LADYBUG</h1>
                <p class="hero-subtitle">
                    Ladybugs hibernate during winter, often found in groups in sheltered places, such as under rocks or
                    in tree crevices.
                </p>
                <a href="explore.html" class="hero-button">Explore</a>
            </div>
            <div class="slide" data-background="../assets/uploads/bg-spider.webp">
                <h1 class="hero-title">SPIDER</h1>
                <p class="hero-subtitle">
                    Spiders have a high sensitivity in their legs that allows them to detect subtle vibrations around
                    them, signaling prey or threats.
                </p>
                <a href="explore.html" class="hero-button">Explore</a>
            </div>
            <div class="slide" data-background="../assets/uploads/bg-dragonfly.webp">
                <h1 class="hero-title">DRAGONFLY</h1>
                <p class="hero-subtitle">
                    Dragonflies can fly forward, backward, and hover, at speeds of up to 56 km/h, and have large eyes
                    with almost 360 degrees of vision.
                </p>
                <a href="explore.html" class="hero-button">Explore</a>
            </div>
            <div class="slide" data-background="../assets/uploads/bg-springtail.webp">
                <h1 class="hero-title">SPRINGTAIL</h1>
                <p class="hero-subtitle">
                    Springtails are unique for their furcula, a specialized tail-like appendage that acts like a spring,
                    enabling them to leap many times their body length to evade threats.
                </p>
                <a href="explore.html" class="hero-button">Explore</a>
            </div>
        </section>
        <!-- Hero End -->




        </section>
        <!-- Explore End -->

        <!-- Contact -->
        <footer class="footer" id="contact">
            <div class="footer-bottom">
                <p>&copy; 2024 Sino. Created by
                    <a href="https://github.com/Kennn711" target="_blank">Marcell</a>
                    &
                    <a href="https://github.com/SOGOL999" target="_blank">Gilang</a>
                    From
                    <a href="https://www.instagram.com/the_beasteri" target="_blank">Beasteri</a>
                </p>
            </div>
        </footer>
        <!-- Contact End -->
    </main>

    <script src="../assets/js/text-hero.js"></script>
    <script src="../assets/js/explore-chatbot.js"></script>
    <script src="../assets/js/navbar.js"></script>
</body>

</html>