<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodiversity</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/hero.css">
</head>

<body style="background-color: rgb(240, 255, 241);">
    <header class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Category</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Testimonial</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <h1 class="logo">Biodiversity</h1>
        </div>
    </header>
    <main>
        <section>
            <div class="hero">
                <h1>Welcome to our website!</h1>
                <p>Learn about our products and services.</p>
                <a href="/products" class="btn-primary">View products</a>
            </div>
        </section>
        <div>
            <!-- About -->
        </div>
    </main>
</body>

</html>