@font-face {
  font-family: HeroFont;
  src: url(../font/agrandir-heavy.ttf);
}

@font-face {
  font-family: NavbarA;
  src: url(../font/poppins-regular.ttf);
}

@font-face {
<<<<<<< HEAD
  font-family: HeroSubTitle;
  src: url(../font/agrandir-narrow.otf);
=======
  font-family: OpenSans;
  src: url(../font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
>>>>>>> 0aae29d86f6d2e34464264a85b4ac9b9570755e9
}
