@font-face {
  font-family: HeroFont;
  src: url(../font/agrandir-heavy.ttf);
}

@font-face {
  font-family: NavbarA;
  src: url(../font/poppins-regular.ttf);
}

@font-face {
  font-family: HeroSubTitle;
  src: url(../font/agrandir-narrow.otf);
}
